$primary-font__family: 'Open Sans', sans-serif;
$secondary-font__family: 'arial', helvetica, sans-serif;

$font-size__small: 0.7rem;
$font-size__smaller: 0.85rem;
$font-size__normal: 1rem;
$font-size__larger: 1.2rem;
$font-size__largest: 1.5rem;
